<div>
  <div class="form">
    <label>Movie Name: </label>
    <input class="input" nz-input placeholder="Movie Name" [(ngModel)]="movie.name" type="text"/>
  </div>
  <div class="form">
    <div class="form">
      <label>Country: </label>
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a country" [(ngModel)]="movie.country">
        @for (country of countries; track country) {
          <nz-option [nzLabel]="country.name" [nzValue]="country"></nz-option>
        }
      </nz-select>
    </div>
    <div class="form">
      <label>Quality: </label>
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a country" [(ngModel)]="movie.quality">
        @for (quality of qualities; track quality) {
          <nz-option [nzLabel]="quality.name" [nzValue]="quality.value"></nz-option>
        }
      </nz-select>
    </div>
  </div>
  <div class="form">
    <div class="form">
      <label>Release Date: </label>
      <nz-date-picker [(ngModel)]="movie.release_Date"></nz-date-picker>
    </div>
    <div class="form">
      <label>Allowing Age: </label>
      <input
        style="width: 120px"
        nz-input
        type="number"
        [(ngModel)]="movie.allowing_Age"
      />
    </div>
    <div class="form">
      <label>Category: </label>
      <nz-select
        [nzMaxTagCount]="3"
        [nzMaxTagPlaceholder]="tagPlaceHolder"
        nzMode="multiple"
        nzPlaceHolder="Please select"
        [(ngModel)]="movie.categories"
      >
        @for (item of categories; track item) {
          <nz-option [nzLabel]="item.name" [nzValue]="item"></nz-option>
        }
      </nz-select>
      <ng-template #tagPlaceHolder let-selectedList>and {{ selectedList.length }} more selected
      </ng-template>
    </div>
  </div>
  <div class="form">
    <div class="form">
      <label>Participant: </label>
      <nz-select
        [nzMaxTagCount]="3"
        [nzMaxTagPlaceholder]="tagPlaceHolder"
        nzMode="multiple"
        nzPlaceHolder="Please select"
        [(ngModel)]="movie.participants"
      >
        @for (item of participants; track item) {
          <nz-option [nzLabel]="item.name" [nzValue]="item"></nz-option>
        }
      </nz-select>
      <ng-template #tagPlaceHolder let-selectedList>and {{ selectedList.length }} more selected
      </ng-template>
    </div>
    <div class="form">
      <label>Duration: </label>
      <div class="form">
        <input nz-input placeholder="Basic usage" [(ngModel)]="movie.duration" [disabled]="true"/>
        <div> (min)</div>
      </div>
    </div>
  </div>
  <div class="form">
    <label>Description: </label>
    <editor [(ngModel)]="movie.description" [apiKey]="apiKey" class="input" [init]="init"></editor>
  </div>
  <div class="action">
    <button (click)="onSubmit()">Update</button>
  </div>
</div>
