<nz-tabset nzType="card">
  <nz-tab nzTitle="Comment">
    <app-comment></app-comment>
  </nz-tab>
  <nz-tab nzTitle="Descrption">
    Tóm tắt
    “Nam Lai Bắc Vãng” là một bộ phim truyền hình thể loại tình cảm lịch sử do Trịnh Hiểu Long (“Hậu Cung Chân Hoàn
    Truyện”) và Lưu Chương Mục (“Hành Động Phá Băng”) đồng đạo diễn. Phim có sự tham gia của Bạch Kính Đình (“Tân Xuyên
    Nhật Thường”), Kim Thần (“Được Ăn Cả Ngã Về Không”), và Đinh Dũng Đại (“Phong Thần 1: Tam Bộ Khúc”) đảm nhận các vai
    chính. Vào cuối thập kỷ 1970, trên chuyến tàu hơi nước từ Ninh Dương đến cáp Nhĩ Tân, Uông Tân (do Bạch Kính Đình
    thủ vai), một thanh niên làm công việc kiểm soát trên tàu, đang chăm chỉ thực hiện nhiệm vụ giữ trật tự giữa đám
    đông hối hả. Anh nhầm lẫn Mã Khôi (do Đinh Dũng Đại thủ vai), một cựu cảnh sát đường sắt là một kẻ đang chạy trốn,
    cả hai mở đầu một mối quan hệ thầy trò không mấy dễ dàng. Từ việc ban đầu không thích nhau, đến sự đồng cảm và tôn
    trọng lẫn nhau, Uông Tân và Mã Khôi đồng lòng chiến đấu tại tuyến đầu của cảnh sát đường sắt.
  </nz-tab>
  <nz-tab nzTitle="Participant">
    Content of Tab Pane
  </nz-tab>
</nz-tabset>
