<app-table
  [loading]="loading"
  [rows]="pageResult.items"
  [page]="pageResult.pageIndex"
  [pageSize]="pageResult.pageSize"
  [totalRows]="pageResult.totalItems"
  [clientPagination]="false"
>
  <ngvn-column header="ID" key="id"></ngvn-column>
  <ngvn-column header="Name" key="name"></ngvn-column>
  <ngvn-column header="Poster" key="thumbnail">
    <ng-template appCell let-row>
      <img class="poster" [src]="row.thumbnail" alt="">
    </ng-template>
  </ngvn-column>
  <ngvn-column header="Status" key="status">
    <ng-template appCell let-row>
      @if(row.status === 0) {
        Daft
      } @else if(row.status === 1) {
        Active
      } @else if (row.status === 2) {
        In Active
      } @else if (row.status === 3) {
        Upcomming
      }
    </ng-template>
  </ngvn-column>
  <ngvn-column header="Quality" key="quality">
    <ng-template appCell let-row>
      @if(row.quality === 0) {
        HD
      }@else if(row.quality === 1){
        Full HD
      }
    </ng-template>
  </ngvn-column>
  <ngvn-column header="Average Star" key="average_Star"></ngvn-column>
  <ngvn-column header="Allowing Age" key="allowing_Age"></ngvn-column>
  <ngvn-column header="Release Date" key="release_Date" [dataType]="COL_DATA_TYPE.DATE"></ngvn-column>
  <ngvn-column header="Duration" key="duration">
    <ng-template appCell let-row>
      {{row.duration}} min
    </ng-template>
  </ngvn-column>
  <ngvn-column header="Total Views" key="totalViews"></ngvn-column>
  <ngvn-column header="Action">
    <ng-template appCell let-row>
      <td>
        <button nz-button nzType="primary" nzSize="small" nzShape="round">
          <i class="fa-regular fa-pen-to-square"></i>
          Update
        </button>
        <nz-divider nzType="horizontal"></nz-divider>
        <button nz-button nzType="primary" nzSize="small" nzShape="round" (click)="onSelect(row.id)">
          <i class="fa-solid fa-circle-info"></i>
          Details
        </button>
      </td>
    </ng-template>
  </ngvn-column>
</app-table>
