<dialog [open]="isOpen">
  <div class="x-mark" (click)="onClose()"><i class="fa-solid fa-x"></i></div>
  <div class="movie-info">
    <div class="dialog-image">
      <img [src]="movie.thumbnail" alt="">
    </div>
    <div>
      <h3>{{ movie.name }}</h3>
      <app-rate [rate]="movie.average_Star"
                [allowHalf]="allowHalf"
      ></app-rate>
      <p [innerHTML]="movie.description"></p>
    </div>
  </div>
  <div class="movie-action">
    <button (click)="watchNow()">Watch Now</button>
    <button (click)="viewDetails()">View Detail</button>
  </div>
</dialog>

