:host {
  display: block;
}

.movie-card {
  width: 200px;
  height: 300px;
  cursor: pointer;
}

.movie-image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transition: 0.5s;
}

.movie-image img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.movie-image:hover {
  transform: scale(1.05);
}
