<h3>Movie Management</h3>
<app-tab>
  <ngvn-tab tabName="Movie List">
    <ng-template appContent>
      <app-table></app-table>
    </ng-template>
  </ngvn-tab>
  <ngvn-tab tabName="Upload Movie">
    <ng-template appContent>
      <app-upload
        [fileType]="alowUploadFileTypes"
        [limitFile]="1"
        [multipleUpload]="false"
      ></app-upload>
    </ng-template>
  </ngvn-tab>
  <app-dialog-admin
    [isVisible]="isVisibleDialog"
    [isOkLoading]="isVisibleLoading"
    [width]="1000">
    <ngvn-dialog dialogName="Add Movie">
      <ng-template appDialogContent>
        <app-process>
          <ngvn-process [currentStep]="0" stepName="Details">
            <ng-template appProcessContent>
              <div>
                <div class="form">
                  <label>Movie Name: </label>
                  <input class="input" nz-input placeholder="Movie Name" [(ngModel)]="value" type="text"/>
                </div>
                <div class="form">
                  <div class="form">
                    <label>Country: </label>
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a country" [(ngModel)]="selectedCountry">
                      @for (country of countries; track country) {
                        <nz-option [nzLabel]="country.name" [nzValue]="country.id"></nz-option>
                      }
                      <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
                      <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
                    </nz-select>
                  </div>
                  <div class="form">
                    <label>Quality: </label>
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a country" [(ngModel)]="selectedQuality">
                      @for (quality of qualities; track quality) {
                        <nz-option [nzLabel]="quality.name" [nzValue]="quality.value"></nz-option>
                      }
                    </nz-select>
                  </div>
                </div>
                <div class="form">
                  <div class="form">
                    <label>Release Date: </label>
                    <nz-date-picker [(ngModel)]="releaseDate"></nz-date-picker>
                  </div>
                  <div class="form">
                    <label>Allowing Date: </label>
                    <input
                      style="width: 120px"
                      nz-input
                      type="number"
                      [ngModel]="value"
                    />
                  </div>
                </div>
                <div class="form">
                  <label>Poster: </label>
                  <app-poster-upload></app-poster-upload>
                </div>
                <div class="form">
                  <label>Description: </label>
                  <editor [apiKey]="apiKey" class="input" [init]="init"></editor>
                </div>
              </div>
            </ng-template>
          </ngvn-process>
          <ngvn-process [currentStep]="1" stepName="Subtitle">
            <ng-template appProcessContent>
              <app-upload></app-upload>
            </ng-template>
          </ngvn-process>
        </app-process>
      </ng-template>
    </ngvn-dialog>
  </app-dialog-admin>
</app-tab>
