.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

video {
  margin-right: 30px;
}

.flex div {
  width: fit-content;
  text-align: center;
}

.duration {
  margin-top: 15px;
  display: flex;
  align-items: center;
}
