<div class="container">
  <div class="watch-movie">
    <vg-player (onPlayerReady)="onPlayerReady($event)">
      <vg-overlay-play></vg-overlay-play>
      <vg-buffering></vg-buffering>

      <vg-controls [vgAutohide]="true" [vgAutohideTime]="1.5">
        <vg-play-pause></vg-play-pause>
        <vg-playback-button></vg-playback-button>

        <vg-time-display vgProperty="current" vgFormat="hh:mm:ss"></vg-time-display>

        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>

        <vg-time-display vgProperty="left" vgFormat="hh:mm:ss"></vg-time-display>
        <vg-time-display vgProperty="total" vgFormat="hh:mm:ss"></vg-time-display>

        <vg-track-selector vgFor="singleVideo"></vg-track-selector>
        <vg-mute></vg-mute>
        <vg-volume></vg-volume>

        <vg-fullscreen></vg-fullscreen>
      </vg-controls>

      <video
        [vgMedia]="$any(media)"
        #media
        id="singleVideo"
        preload="auto"
        crossorigin="anonymous"
        (play)="onAddView(movie.id)"
        [src]="movie.movie_Url"
      >
        @for (track of movie.subtitles; track track) {
        <track
          kind="subtitles"
          [label]="track.subtitleName"
          [src]="track.subtitleUrl"
          [srclang]="track.subtitleName"
        />
        }
      </video>
    </vg-player>
    <h3>{{ movie.name }}</h3>
    <p>View: {{ movie.totalViews }} <i class="fa-solid fa-eye"></i></p>
    <div class="flex">
      <span>Average Rate:</span>
      <app-rate
        [rate]="movie.average_Star"
        [totalRate]="movie.average_Star"
        [allowHalf]="true"
      ></app-rate>
    </div>
    <div class="flex">
      <span>Your Rate:</span>
      <app-rate [disable]="false"
          [rate]="userCurrentRating"
          (rateChange)="onRateChange($event)">
</app-rate>
    </div>
   <!-- Inline Confirmation Dialog -->
   <div *ngIf="isDialogOpen" class="dialog-overlay">
    <div class="dialog-content">
      <h3 style="color: black;">Confirm Your Rating</h3>
      <p style="color: black;">You are about to rate <strong>{{ movie.name }}</strong> with {{ userCurrentRating }} stars.</p>
      <div class="dialog-buttons">
        <button class="btn btn-primary" (click)="onConfirmVote()">Confirm</button>
        <button class="btn btn-primary" (click)="onCancelVote()">Cancel</button>
      </div>
    </div>
  </div>
    <app-tab>
      <ngvn-tab tabName="Comment">
        <ng-template appContent>
          <app-comment [movieId]="movie.id"></app-comment>
        </ng-template>
      </ngvn-tab>
      <ngvn-tab tabName="Description">
        <ng-template appContent>
          <p [innerHTML]="movie.description"></p>
        </ng-template>
      </ngvn-tab>
      <ngvn-tab tabName="Participants">
        <ng-template appContent>
          <h5>Creator</h5>
          <ul>
            @for(item of movie.participants; track item) {
            <li>{{ item.name }}</li>
            }
          </ul>
        </ng-template>
      </ngvn-tab>
    </app-tab>
    <app-movie-area
      (selectMovie)="onOpenDialog($event)"
      [movies]="topviews"
      areaName="Top Views"
    ></app-movie-area>
    <app-movie-area
      (selectMovie)="onOpenDialog($event)"
      [movies]="mostRates"
      areaName="Most Rate"
    ></app-movie-area>
  </div>
</div>
@if(isOpen) {
<app-dialog
  [movie]="movieDetails"
  (closeDialog)="onCloseDialog($event)"
  [class.app-dialog-backdrop]="isOpen"
  [isOpen]="isOpen"
></app-dialog>
}
