<div class="container">
  <div class="watch-movie">
    <vg-player (onPlayerReady)="onPlayerReady($event)">
      <vg-overlay-play></vg-overlay-play>
      <vg-buffering></vg-buffering>

      <vg-controls
        [vgAutohide]="true" [vgAutohideTime]="1.5"
      >
        <vg-play-pause></vg-play-pause>
        <vg-playback-button></vg-playback-button>

        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>

        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

        <vg-track-selector vgFor="singleVideo"></vg-track-selector>
        <vg-mute></vg-mute>
        <vg-volume></vg-volume>

        <vg-fullscreen></vg-fullscreen>
      </vg-controls>

      <video
        [vgMedia]="$any(media)"
        #media
        id="singleVideo"
        preload="auto"
        crossorigin="anonymous"
        [src]="movie.movie_Url">
        @for (track of movie.subtitles; track track) {
          <track kind="subtitles" [label]="track.subtitleName" [src]="track.subtitleUrl" [srclang]="track.subtitleName">
        }
      </video>

    </vg-player>
    <h3>{{ movie.name }}</h3>
    <p>View: 10 <i class="fa-solid fa-eye"></i></p>
    <div class="flex">
      <span>Average Rate:</span>
      <app-rate [rate]="movie.average_Star"
                [totalRate]="movie.average_Star"
                [allowHalf]="true"
      ></app-rate>
    </div>
    <div class="flex">
      <span>Your Rate:</span>
      <app-rate
        [disable]="false"
        [rate]="3"
      ></app-rate>
    </div>
    <app-tab>
      <ngvn-tab tabName="Comment">
        <ng-template appContent>
          <app-comment></app-comment>
        </ng-template>
      </ngvn-tab>
      <ngvn-tab tabName="Description">
        <ng-template appContent>
          <p [innerHTML]="movie.description"></p>
        </ng-template>
      </ngvn-tab>
      <ngvn-tab tabName="Participants">
        <ng-template appContent>
          <h5>Creator</h5>
          <ul>
            <li>1</li>
            <li>1</li>
            <li>3</li>
          </ul>
          <h5>Actors & Actress</h5>
          <ul>
            <li>1</li>
            <li>1</li>
            <li>3</li>
          </ul>
        </ng-template>
      </ngvn-tab>
    </app-tab>
    <app-movie-area areaName="Top Views"></app-movie-area>
    <app-movie-area areaName="Top Rate"></app-movie-area>
  </div>
</div>
