.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.watch-movie h3 {
  margin-top: 20px;
}

.flex {
  display: flex;
  align-items: center;
}

.flex app-rate {
  margin-left: 10px;
}

.flex {
  margin-bottom: 20px;
}
