* {
  color: var(--white);
}

button{
  color: var(--white)!important;
}
button i{
  margin-right: 1px;
}

.header-table{
  display: flex;
  justify-content: space-between;
}

label{
  margin-right: 10px;
}

input{
  background-color: #0b0c2a;
  padding-left: 10px;
}
