<div class="container">
  <div class="movie-details">
    <div class="movie row">
      <div class="movie-image col-lg">
        <img [src]="movie.thumbnail" alt="">
      </div>
      <div class="movie-infor col-lg-9">
        <div class="basic-infor">
          <h3>{{ movie.name }}</h3>
          <div>
            <p class="date-release">{{ formatReleaseDate() }}</p>
            <p class="duration">{{ movie.duration }} min</p>
            <p class="country">{{ movie.country.name }}</p>
          </div>
        </div>
        <div class="rating">
          <div class="rate-star">
            <div class="rate">
              <app-rate [allowHalf]="true"
                        [disable]="true"
                        [rate]="movie.average_Star"
                        [totalRate]="movie.average_Star"></app-rate>
              <!--              <div class="your-rate">Your rate: 5</div>-->
            </div>
            <div class="total-vote">
              <i class="fa-solid fa-users"></i>
              <span>{{ movie.totalPeopleVote }} Votes</span>
            </div>
          </div>
        </div>
        <div class="cate-action">
          <div class="category">
            @for (item of movie.categories; track item) {
              <div><a href="#">{{ item.name }}</a></div>
            }
          </div>
          <div>
            <button class="watch-now" (click)="onView(movie.id)">Watch Now</button>
          </div>
        </div>
      </div>
    </div>
    <app-tab>
      <ngvn-tab tabName="Comment">
        <ng-template appContent>
          <app-comment></app-comment>
        </ng-template>
      </ngvn-tab>
      <ngvn-tab tabName="Description">
        <ng-template appContent>
          <p [innerHTML]="movie.description"></p>
        </ng-template>
      </ngvn-tab>
      <ngvn-tab tabName="Participants">
        <ng-template appContent>
          <h5>Participants</h5>
          <ul>
            @for (item of movie.participants; track item) {
              <li>{{ item.name }}</li>
            }
          </ul>
        </ng-template>
      </ngvn-tab>
    </app-tab>
    <hr>
  </div>
  <app-movie-sider [movies]="movies"></app-movie-sider>
</div>
