:root {
  --red: #e53637;
  --white: white;
  --black: #212529;
  --green: #34a853;
  --deepBlack: black;
  --blue: #408bea;
  --background: #0b0c2a;
  --grey: gray;
}

* {
  margin: 0;
  padding: 0;
  font-family: Oswald, Mulish;
}

body {
  background-color: #0b0c2a;
  overflow-x: hidden;
  color: white;
}

.ant-tabs-tab {
  background-color: var(--background) !important;
}

.ant-tabs-tab-active {
  background-color: var(--blue) !important;
}

.ant-tabs-tab-btn {
  color: var(--white) !important;
}

.ant-comment-content-author-name {
  color: var(--blue);
}

.ant-comment-content-detail {
  color: var(--white);
}

.ant-tabs {
  width: 97.4%;
}

.ant-btn-primary {
  color: var(--deepBlack) !important;
}

.ant-comment-actions .ng-star-inserted span{
  color: var(--white) !important;
}

.ant-comment-actions .ng-star-inserted span:hover{
  color: var(--blue) !important;
}

.ant-tabs-tabpane {
  color: white;
}
