<!-- Normal Breadcrumb Begin -->
<section class="normal-breadcrumb"
         style="background-image: url('https://preview.redd.it/s2-spoilers-all-of-the-character-wallpapers-from-the-arcane-v0-enbzr68d6owd1.jpg?width=2048&format=pjpg&auto=webp&s=8181c42349c84d0de2492c1e0c2295de9fd0ed1f'); height: 200px; display: flex; align-items: center; justify-content: center; background-size: cover; background-position: center;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="normal__breadcrumb__text">
          <h2>Login</h2>
          <p>Welcome to the official NetFilm blog.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Normal Breadcrumb End -->

<!-- Login Section Begin -->
<section class="login spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="login__form">
          <h3>Login</h3>
          <form (ngSubmit)="onSubmit()">
            <div class="input__item">
              <input type="text" placeholder="Username" name="userName" [(ngModel)]="login.userName">
              <span class="fa-solid fa-user"></span>
            </div>
            <div class="input__item">
              <input
                [type]="isPasswordVisible ? 'text' : 'password'"
                placeholder="Password"
                name="passWord"
                [(ngModel)]="login.passWord">
              <span
                class="fa-solid fa-lock"
                [ngClass]="isPasswordVisible ? 'fa-eye' : 'fa-lock'"
                (click)="togglePasswordVisibility()">
    </span>
            </div>
            <button type="submit" class="site-btn">Login Now</button>
          </form>
          <a routerLink="/forgot-password" class="forget_pass">Forgot Your Password?</a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="login__register">
          <h3>Dont’t Have An Account?</h3>
          <a routerLink="/register" class="primary-btn">Register Now</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Login Section End -->
